# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [1]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('..', '..', 'assets', 'dataset', 'ozone.csv'))

In [2]:
print data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2
2     12      149  12.6    74      5    3
3     18      313  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [ ]:
print

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [2]:
print data.loc[0:1]
print data.head(2)

NameError: name 'data' is not defined

How many observations (i.e. rows) are in this data frame?

In [3]:
len(data)
print data.shape

NameError: name 'data' is not defined

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [ ]:
print data.tail(2)

What is the value of Ozone in the 47th row?

In [ ]:
print data['Ozone'].loc[46]
print data.loc[46, 'Ozone']

How many missing values are in the Ozone column of this data frame?

In [ ]:
print data.Ozone.isnull().sum()
print pd.isnull(data.Ozone).sum()
print len(data) - data.Ozone.count() #all data minus non null data

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [ ]:
print data.Ozone.mean()

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [ ]:
print data[(data.Ozone > 31) & (data.Temp > 90)]['Solar.R'].mean() #Because of the . in Solar.R need use ['']

What is the mean of "Temp" when "Month" is equal to 6?

In [ ]:
print data[data.Month==6].Temp.mean()

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [ ]:
print data[data.Month==5].Ozone.max()

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas